<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.quebec.app">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <permission android:name="com.quebec.app.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="com.quebec.app.permission.C2D_MESSAGE" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <permission
        android:name="com.quebec.app.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.quebec.app.permission.MAPS_RECEIVE" />

    <uses-feature android:name="android.hardware.camera2" />
    <uses-feature
        android:name="android.hardware.camera.any"
        android:required="true" />

    <uses-feature android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:name=".Application"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Background_dark">
        <activity
            android:name=".auth.SplashActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".auth.SignInActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_sign_in"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".auth.ForgotPasswordActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_forgot_password"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".auth.SignUpActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_sign_up"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".SignUpVideoActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_sign_up_video"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".auth.SignUpConfirmActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_sign_up_confirm"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />

        <!-- BEGIN - APP CONTENT DELIVERY AND USER DATA STORAGE -->


        <!--

         The following services and receivers are used to deal with transfer of
	     files. If you copy and paste the user data storage or app content delivery
	     feature from this sample app into your own app, make sure you include
	     these items, and customize the string identifiers they use in the strings
	     XML resource file.
        -->


    <service android:name="com.amazonaws.mobileconnectors.s3.transferutility.TransferService"
        android:enabled="true" />
    <service android:name="com.amazonaws.mobile.downloader.service.DownloadService" />

    <receiver android:name="com.amazonaws.mobile.downloader.service.NetworkStateListener"
        android:enabled="false" android:exported="false">
        <intent-filter>
            <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
        </intent-filter>
    </receiver>

    <provider android:name="com.amazonaws.mobile.downloader.query.DownloadQueueProvider"
        android:authorities="@string/download_queue_provider_authority" android:enabled="true"
        android:exported="false" />
    <provider android:name="android.support.v4.content.FileProvider" android:authorities="@string/content_file_provider_authority"
        android:exported="false" android:grantUriPermissions="true">
        <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/content_delivery_paths" />
    </provider>

    <!-- END - APP CONTENT DELIVERY AND USER DATA STORAGE -->


        <activity android:name=".ProfilePictureUpdateActivity" />
    <activity android:name="com.facebook.FacebookActivity" android:label="@string/app_name"
        android:theme="@android:style/Theme.Black" />

    <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id" />

    <activity android:name="com.theartofdev.edmodo.cropper.CropImageActivity" android:theme="@style/Base.Theme.AppCompat" />

        <service
            android:name="com.amazonaws.mobileconnectors.s3.transferutility.TransferService"
            android:enabled="true" />
        <service android:name="com.amazonaws.mobile.downloader.service.DownloadService" />

        <receiver
            android:name="com.amazonaws.mobile.downloader.service.NetworkStateListener"
            android:enabled="false"
            android:exported="false">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <provider
            android:name="com.amazonaws.mobile.downloader.query.DownloadQueueProvider"
            android:authorities="@string/download_queue_provider_authority"
            android:enabled="true"
            android:exported="false" />
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="@string/content_file_provider_authority"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/content_delivery_paths" />
        </provider>

        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="com.quebec.app" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.quebec.services.PushListenerService"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>

        <!-- END - APP CONTENT DELIVERY AND USER DATA STORAGE -->

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <!--
 ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
    <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />

    <service android:name="com.amazonaws.mobileconnectors.s3.transferutility.TransferService"
        android:enabled="true" />
    <service android:name="com.amazonaws.mobile.downloader.service.DownloadService" />

    <receiver android:name="com.amazonaws.mobile.downloader.service.NetworkStateListener"
        android:enabled="false" android:exported="false">
        <intent-filter>
            <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
        </intent-filter>
    </receiver>

    <provider android:name="com.amazonaws.mobile.downloader.query.DownloadQueueProvider"
        android:authorities="@string/download_queue_provider_authority" android:enabled="true"
        android:exported="false" />

      <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDoPJTYfr8pOhNan01moxI-WYG9XE8wW5s" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

    <activity android:name="com.quebec.app.EventDetailMapActivity" android:label="@string/title_activity_event_detail_map"></activity>
    <activity android:name=".EventVideoUploadSelect" android:windowSoftInputMode="adjustPan" />
        <activity android:name=".EventVideoUploadDetails" android:windowSoftInputMode="adjustPan" />

    <activity android:name=".AboutActivity" android:label="@string/title_activity_about"></activity>
</application>

</manifest>


